{% extends "base/scaffolding.html" %}
{% block title %}Create Course{% endblock %}
{% block content %}
<p>Creating a course will automatically give you professor status over the course.</p>
<form action="" method="post">
    <label for="course-code">Course Code: </label>
    <input type="text" id="course-code" name="code" placeholder="CP123"/>
    <label for="course-block">Block: </label>
    <input type="text" id="course-block" name="block" placeholder="3"/>
    <label for="course-year">Year: </label>
    <input type="text" id="course-year" name="year" placeholder="2018"/>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}