{% extends "base/scaffolding.html" %}
{% block title %}List Courses{% endblock %}
{% block breadcrumb %}
{{ breadcrumb('course.index', 'Courses') | safe }}
{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Block</th>
            <th>Year</th>
            <th>Repository</th>
            <th>Role</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% set enrollments = user.courses() %}
    {% if enrollments.active | length %}
    <tr><td colspan="6"><strong>ACTIVE ENROLLMENTS</strong></td></tr>
    {% endif %}
    {% for enrollment in enrollments.active %}
        <tr>
            <td>{{ enrollment.course.code }}</td>
            <td>{{ enrollment.course.block }}</td>
            <td>{{ enrollment.course.year }}</td>
            <td>{{ enrollment.repo }}</td>
            <td>{{ enrollment.role }}</td>
            <td>
                <a href="{{ url_for('course.view', id=enrollment.course.id) }}">
                    <button type="button" class="btn btn-info">View</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    {% if enrollments.inactive | length %}
    <tr><td colspan="6"><strong>INACTIVE ENROLLMENTS</strong></td></tr>
    {% endif %}
    {% for enrollment in enrollments.inactive %}
        <tr>
            <td>{{ enrollment.course.code }}</td>
            <td>{{ enrollment.course.block }}</td>
            <td>{{ enrollment.course.year }}</td>
            <td>{{ enrollment.repo }}</td>
            <td>{{ enrollment.role }}</td>
            <td>
                <a href="{{ url_for('course.view', id=enrollment.course.id) }}">
                    <button type="button" class="btn btn-info">View</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if user and user.has_permission('course:create') %}
<p><a href="{{ url_for('course.create') }}">Create a new course</a></p>
{% endif %}
{% endblock %}
