{% extends "base/scaffolding.html" %}
{% block title %}List Courses{% endblock %}
{% block breadcrumb %}
{{ breadcrumb('course.index', 'Courses') | safe }}
{% if user.has_permission('course:create') %}
{{ breadcrumb('course.create', 'Create') | safe }}
{% endif %}
{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Block</th>
            <th>Year</th>
            <th>Repository</th>
            <th>Role</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% for enrollment in user.courses() %}
        <tr>
            <td>{{ enrollment.course.code }}</td>
            <td>{{ enrollment.course.block }}</td>
            <td>{{ enrollment.course.year }}</td>
            <td>{{ enrollment.repo }}</td>
            <td>{{ enrollment.role }}</td>
            <td>
                <a href="{{ url_for('course.view', id=enrollment.course.course_pk) }}">
                    <button type="button" class="btn btn-info">View</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
