{% extends "course/view.html" %}
{% block title %}View Course {{ course.code }}{% endblock %}
{% block breadcrumb %}
{{ super() }}
{{ breadcrumb('course.new_assignment', 'New assignment', id=course.id) | safe }}
{% endblock %}
{% block content %}
<ul>
    <li>Course Code: {{ course.code }}</li>
    <li>Block: {{ course.block }}</li>
    <li>Year: {{ course.year }}</li>
</ul>
<form method="POST" action="">
    <label for="a_title">Title: </label>
    <input id="a_title" name="title" placeholder="Honor assignment #1: HashMaps" />
    <label for="a_description">Description: </label>
    <textarea id="a_description" name="description"></textarea>
    <!-- TODO js plugin for selecting a range, in block-plan-ese -->
        <label for="a_available">Available: </label><input id="a_available" type="text" name="available" placeholder="2018-12-24"/>
    <label for="a_due">Due: </label><input id="a_due" type="text" name="due" placeholder="2018-12-25"/>
    <button type="submit" class="btn btn-success">Create!</button>
</form>
{% endblock %}
{% block js %}

{% endblock %}