{% extends "base/scaffolding.html" %}
{% block content %}
    <div class="container-full-left">
        <div class="row">

            <!-- weekly update -->
            <div class="col-lg-4">
                <h1>Pending Code Reviews</h1>

                {% for entry in session.pending_reviews %}
		<p><label>Assignment: </label> {{ entry.assignment }}</p>
                <p><label>GitHub Repo: </label> {{ entry.url }}</p>
                <form action="{{url_for('code_review')}}" method="POST">
                    <div class="input-group" style="width:340px;">
                        <label> Code Review: </label>
                        <p>This is a suggested template. You don't necessarily have to use it. By default, the review is anonymous (except to the instructor). You can sign it if you prefer.</p>
                        <textarea class="form-control" rows="25" title="code review" name="review.{{ entry.review_pk }}">PROJECT: which week's project is this?&#13;&#10;&#13;&#10;INSTALLATION: does it install and run? any issues?&#13;&#10;&#13;&#10;SPECIFICATION: does it at least attempt everything in the project specification? anything missing?&#13;&#10; &#13;&#10;CORRECTNESS: is everything done correctly? any bugs or issues?&#13;&#10; &#13;&#10;STYLE: anything super rad? anything that could be done better?&#13;&#10; &#13;&#10;COMMENTS: any other comments?</textarea>
                    </div>
                    <div class="input-group" style="width:340px;">
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>
                <br>
                {% endfor %}

            </div>
            <!-- end daily update column -->

            <!-- daily report -->
            <div class="col-lg-6">
                <h1>Received Code Reviews</h1>

                {% for entry in session.review_report %}
                  {% for line in entry.comments.splitlines() %}
                  <p>{{line}}</p>
                  {% endfor %}
                  <br>
                  <br>
                {% endfor %}
            </div>
            <!-- end weekly report column -->

        </div>
        <!-- /row -->

    </div>
    <!-- /container full -->
{% endblock content %}