<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DERP: daily</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
     integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
     crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
     integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
     crossorigin="anonymous">
    </script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<!-- flashed warnings -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<!-- common header across pages -->
{% include 'header.html' %}

<body>
    <div class="container-full-left">
        <div class="row">

            <!-- daily update -->
            <div class="col-lg-4">
                <label> Daily Status: </label>
                {% if session.daily_completed %}
                <p style="color:green">COMPLETE</p>
                {% else %}
                <p style="color:red">incomplete</p>
                {% endif %}

                <form action="{{url_for('daily')}}" method="POST">
                    <div class="input-group" style="width:340px;">
                        <label> Daily Submission: </label>
                        <textarea id="daily_field" class="form-control" rows="8" title="Daily status!" placeholder="update your daily status here" name="daily" onkeyup="countChar(this)"></textarea>
                    </div>
                    <div id="charNum" style="color:gray"></div>
                    <div class="input-group" style="width:340px;">
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>

            </div>
            <!-- end daily update column -->

            <!-- daily report -->
            <div class="col-lg-6">
                <h1>Daily Report</h1>

                <table class="daily-report">
                  {% for entry in session.daily_report %}
                  {% if loop.index is divisibleby 2 %}
                  <tr class="even">
                  {% else %}
                  <tr class="odd">
                  {% endif %}
                    <td class="day">{{ entry.timestamp | to_date }}</td>
                    <td class="entry">{{ entry.status_message }}</td>
                  </tr>
                  {% endfor %}
                </table>
            </div>
            <!-- end daily report column -->

        </div>
        <!-- /row -->

    </div>
    <!-- /container full -->


</body>

<script>
$('#daily_field').keyup(function () {
  var max = 500;
  var len = $(this).val().length;
  if (len >= max) {
    $('#charNum').text(' you have passed the limit!!!');
  } else {
    var char = max - len;
    $('#charNum').text(char + ' characters remaining before max is reached');
  }
});
</script>

</html>
