{% extends "base/scaffolding.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
    <h1>hello, {{ session.duck_id }}!</h1>
    </div>
</div>

<div class="row">

    <!-- daily update -->
    <div class="col-lg-4">
        <label> Daily Status: </label>
        {% if session.daily_completed %}
        <p style="color:green">COMPLETE</p>
        {% else %}
        <p style="color:red">incomplete</p>
        {% endif %}
    </div>


</div>
<!-- /row -->

<div class="row">

    <!-- weekly update -->
    <div class="col-lg-4">
        <label> Weekly Status: </label>
        {% if session.weekly_completed %}
        <p style="color:green">COMPLETE</p>
        {% else %}
        <p style="color:red">incomplete</p>
        {% endif %}
    </div>


</div>
<!-- /row -->

<div class="row">

    <!-- weekly update -->
    <div class="col-lg-4">
        <p><label> Pending Code Reviews:</label> {{ session.pending_reviews|length }}</p>
    </div>


</div>
<!-- /row -->
{% endblock %}