{% extends "base/scaffolding.html" %}
{% block title %}Courses Enrolled{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Block</th>
            <th>Year</th>
            <th>Repository</th>
            <th>Role</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% for user_course in user.courses() %}
        <tr>
            <td>{{ user_course.course.code }}</td>
            <td>{{ user_course.course.block }}</td>
            <td>{{ user_course.course.year }}</td>
            <td>{{ user_course.repo }}</td>
            <td>{{ user_course.role }}</td>
            <td>
                <a href="{{ url_for('course.view', id=user_course.course.course_pk) }}">
                    <button type="button" class="btn btn-info">View</button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- /row -->
{% endblock %}