{% extends "base/scaffolding.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>hello, {{ user.github_username }}!</h1>
<h2>Classes enrolled: </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% for course in user.courses() %}
        <tr>
            <td>{{ course.course.course_code }}</td>
            <td>
                <a href="{{ url_for('course.view', id=course.course.course_pk) }}">
                    <button type="button" class="btn btn-info">View</button>
                </a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<!-- /row -->
{% endblock %}