<div class="row container-header">
<div class="col-lg-4">
    <img src="{{ url_for('static', filename='images/osnap_logo_150x150.png') }}" class="img-default" width="75" height="75">
</div>

<div class="col-lg-4 text-center derp-center">
    <img src="{{ url_for('static', filename='images/derp_banner.png') }}" class="img-default">
</div>
</div> <!-- end row -->

<br>

<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <form action="{{url_for('logout')}}" method="GET"><button class="btn btn-danger navbar-btn" href="{{url_for('logout')}}">LOG OUT</button></form>
    </ul>
  </div>
</nav>


<!-- javascript courtesy of the stack overflow :) -->
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
        $('ul.nav a').filter(function() {
             return this.href == url;
        }).parent().addClass('active');
    });
</script>
