<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DERP: welcome</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
     integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
     crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
     integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
     crossorigin="anonymous">
    </script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12 text-center v-center">
                <h1>welcome to DERP!</h1>
                <p class="lead">please sign in</p>
                <br>
                <br>
                <br>
                <form class="col-lg-12" action="{{url_for('login')}}" method="POST">
                    <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
                        <input class="form-control input-lg" title="Authentication will go through GitHub." placeholder="enter your username" name="student_id">
                        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">GO</button></span>
                    </div>
                </form>
            </div>

        </div>
        <!-- /row -->
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- /container full -->


</body>

</html>
