{% extends "base/scaffolding.html" %}
{% block content %}
    <div class="container-full-left">

        <div class="row">
            <div class="col-lg-12">
                <h1>sign up for DERP!</h1>
                <p class="lead">Your GitHub account is not associated with a DERP developer... Please create an account </p>
                <br>
                <br>
                <br>
            </div>
        </div>
        <!-- end of row -->

        <div class="row">
            <div class="col-lg-12">
                <p> <label>GitHub Username:</label> {{session.github_username}} </p>
                <p> <label>Role:</label> developer </p>
                <form action="{{url_for('signup')}}" method="POST">
                    <div class="input-group" style="width:340px">
                        <label>UO Duck ID: </label>
			<input class="form-control input-lg" placeholder="UO Duck Id" name="duck_id" value="">
                    </div>
                    <div class="input-group" style="width:340px">
                        <label> CIS 322 GitHub Repo URL: </label>
                        <input class="form-control input-lg" placeholder="enter your repo url" name="repo">
                    </div>
                    <div class="input-group" style="width:340px">
                        <label> Email: </label>
                        <input class="form-control input-lg" placeholder="duck_id@uoregon.edu" type="email" name="email">
                    </div>
                    <div class="input-group" style="width:340px">
                        <button type="submit" class="btn btn-success">Create User</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- end of row -->

        <br>
        <br>

        <!-- submit button -->
        <!--
        <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success" action="{{url_for('signup')}}" method="POST">Create User</button>
        </div>
        </div>
        -->
        <!-- /row -->

    </div>
    <!-- /container full -->

{% endblock %}