<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DERP: weekly</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
     integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
     crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
     integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
     crossorigin="anonymous">
    </script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<!-- flashed warnings -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<!-- common header across pages -->
{% include 'header.html' %}

<body>
    <div class="container-full-left">
        <div class="row">

            <!-- weekly update -->
            <div class="col-lg-4">
                <label> Weekly Status: </label>
                {% if session.weekly_completed %}
                <p style="color:green">COMPLETE</p>
                {% else %}
                <p style="color:red">incomplete</p>
                {% endif %}

                <form action="{{url_for('weekly')}}" method="POST">
                    <div class="input-group" style="width:340px;">
                        <label> Accomplishments: </label>
                        <textarea class="form-control" rows="8" title="accomplishments" placeholder="enter this week's accomplishments here" name="accomplishments"></textarea>
                    </div>
                    <div class="input-group" style="width:340px;">
                        <label> Challenges: </label>
                        <textarea class="form-control" rows="8" title="challenges" placeholder="enter this week's challenges here" name="challenges"></textarea>
                    </div>
                    <div class="input-group" style="width:340px;">
                        <label> Next Steps: </label>
                        <textarea class="form-control" rows="8" title="next steps" placeholder="enter your plan for next week here" name="next_steps"></textarea>
                    </div>
                    <div class="input-group" style="width:340px;">
                        <label> Comments: </label>
                        <textarea class="form-control" rows="8" title="comments" placeholder="enter any other comments here" name="comments"></textarea>
                    </div>
                    <div class="input-group" style="width:340px;">
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>

            </div>
            <!-- end daily update column -->

            <!-- daily report -->
            <div class="col-lg-6">
                <h1>Weekly Report</h1>

                {% for entry in session.weekly_report %}
                <table class="daily-report">
                  <tr class="even">
                      <td class="day">Week Of (Monday)</td>
                      <td class="entry">{{ entry.timestamp | monday }}</td>
                  </tr>
                  <tr class="odd">
                      <td class="day">Accomplishments</td>
                      <td class="entry">{{ entry.accomplishments }}</td>
                  </tr>
                  <tr class="even">
                      <td class="day">Challenges</td>
                      <td class="entry">{{ entry.challenges }}</td>
                  </tr>
                  <tr class="odd">
                      <td class="day">Next Steps</td>
                      <td class="entry">{{ entry.next_steps }}</td>
                  </tr>
                  <tr class="even">
                      <td class="day">Comments</td>
                      <td class="entry">{{ entry.comments }}</td>
                  </tr>
                </table>
                <br>
                <br>
                {% endfor %}
            </div>
            <!-- end weekly report column -->

        </div>
        <!-- /row -->

    </div>
    <!-- /container full -->


</body>

</html>
