<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DERP: code review</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
     integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
     crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
     integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
     crossorigin="anonymous">
    </script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<!-- flashed warnings -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<!-- common header across pages -->
{% include 'header.html' %}

<body>
    <div class="container-full-left">
        <div class="row">

            <!-- weekly update -->
            <div class="col-lg-4">
                <h1>Pending Code Reviews</h1>

                {% for entry in session.pending_reviews %}
                <p><label> GitHub Repo: </label> {{ entry.url }}</p>
                <form action="{{url_for('code_review')}}" method="POST">
                    <div class="input-group" style="width:340px;">
                        <label> Code Review: </label>
                        <p>This is a suggested template. You don't necessarily have to use it. By default, the review is anonymous (except to the instructor). You can sign it if you prefer.</p>
                        <textarea class="form-control" rows="25" title="code review" name="review.{{ entry.review_pk }}">PROJECT: which week's project is this?&#13;&#10;&#13;&#10;INSTALLATION: does it install and run? any issues?&#13;&#10;&#13;&#10;SPECIFICATION: does it at least attempt everything in the project specification? anything missing?&#13;&#10; &#13;&#10;CORRECTNESS: is everything done correctly? any bugs or issues?&#13;&#10; &#13;&#10;STYLE: anything super rad? anything that could be done better?&#13;&#10; &#13;&#10;COMMENTS: any other comments?</textarea>
                    </div>
                    <div class="input-group" style="width:340px;">
                        <button type="submit" class="btn btn-success">SUBMIT</button>
                    </div>
                </form>
                <br>
                {% endfor %}

            </div>
            <!-- end daily update column -->

            <!-- daily report -->
            <div class="col-lg-6">
                <h1>Received Code Reviews</h1>

                {% for entry in session.review_report %}
                  {% for line in entry.comments.splitlines() %}
                  <p>{{line}}</p>
                  {% endfor %}
                  <br>
                  <br>
                {% endfor %}
            </div>
            <!-- end weekly report column -->

        </div>
        <!-- /row -->

    </div>
    <!-- /container full -->


</body>

</html>
