{% extends "base/empty.html" %}
{% block body %}
<div class="body">
    <div class="row container-header">
        <div class="col-lg-12 text-center derp-center">
            <img src="{{ url_for('static', filename='images/derp_banner.png') }}" class="img-default">
        </div>
    </div> <!-- end row -->
    <div class="navigation">
        <nav class="navbar navbar-default" aria-label="breadcrumb" id="nav">
            <ol class="breadcrumb">
                {{ breadcrumb('dashboard', 'Home') | safe }}
                {% block breadcrumb %}{% endblock %}
                {% if user %}
                <li class="breadcrumb-item nobefore pull-right"><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li class="breadcrumb-item nobefore pull-right"><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ol>
        </nav>
    </div>
    <div class="content">
        <!-- flashed messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="alert alert-{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>{% block title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}